body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black; /* Change background color to black */
    color: #fff; /* Change text color to white for better visibility */
}

.top-bar {
    position: fixed;
    top: 50%; /* Move top bar down halfway */
    transform: translateY(-50%); /* Center vertically */
    right: 0; /* Move top bar to the right side */
    width: 60px; /* Width to fit buttons and narrow text boxes */
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    height: auto; /* Automatic height */
}

.top-bar input {
    width: 50px; /* Width to fit 3 characters */
    padding: 5px;
    margin: 5px 0;
}

.top-bar button {
    padding: 5px 10px;
    margin: 5px 0;
}

.scrollable {
    margin-right: 80px; /* Account for the sidebar width */
    padding: 10px;
    height: calc(100vh - 20px);
    overflow-y: auto; /* Vertical scrolling */
}

.instrument {
    margin-bottom: 5px; /* Reduce the spacing between instruments */
    overflow-x: auto; /* Enable horizontal scrolling for each instrument */
}

.instrument {
}

.row {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of cells */
}

.cell {
    width: 50px; /* Fixed width for cells */
    height: 30px; /* Adjust height for better ergonomics on mobile */
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    
}

.index-row .cell {
    background-color: #444;
    cursor: default;
    width: 50px;
    height: 30px; /* Match height of other cells */
    font-size: 0.8em; /* Reduce font size if necessary */
}

.cell.green {
    background-color: lightgreen;
}

.cell.red {
    background-color: lightcoral;
}
